
<mat-card class="form-card">
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Login"> 
      <mat-card-header>
        <mat-card-title>Team One</mat-card-title>
        <mat-card-subtitle>Login</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content >
        <div class="form-container">
          <mat-form-field class="form-phone">
            <span matPrefix>+33 &nbsp;</span>
            <input   type="tel" matInput placeholder="Telephone" [(ngModel)]="fakeUserLogin.phone">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input  type="password" matInput placeholder="password" [(ngModel)]="fakeUserLogin.password">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="form-button" (click)="login()">Sign In</button>
      </mat-card-actions>
    </mat-tab>
    <mat-tab label="Register"> 
      <mat-card-header>
        <mat-card-title>Team One</mat-card-title>
        <mat-card-subtitle>Register</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content >
        <div class="form-container">
          <mat-form-field>
            <input  type="text" matInput placeholder="merchant_ident" [(ngModel)]="fakeUserRegister.merchant_ident">
          </mat-form-field>
          <mat-form-field>
            <input  type="text" matInput placeholder="merchant_ident_second" [(ngModel)]="fakeUserRegister.merchant_ident_second">
          </mat-form-field>
          <mat-form-field>
            <input  type="text" matInput placeholder="email" [(ngModel)]="fakeUserRegister.email">
          </mat-form-field>
          <mat-form-field>
            <input  type="text" matInput placeholder="vendor_token" [(ngModel)]="fakeUserRegister.vendor_token">
          </mat-form-field>
          <mat-form-field>
            <input  type="text" matInput placeholder="firstname" [(ngModel)]="fakeUserRegister.firstname">
          </mat-form-field>
          <mat-form-field>
            <input  type="text" matInput placeholder="lastname" [(ngModel)]="fakeUserRegister.lastname">
          </mat-form-field>
          <mat-form-field class="form-phone">
            <span matPrefix>+33 &nbsp;</span>
            <input   type="tel" matInput placeholder="Telephone" [(ngModel)]="fakeUserRegister.phone">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input  type="password" matInput placeholder="password" [(ngModel)]="fakeUserRegister.password">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="form-button" (click)="login()">Submit</button>
      </mat-card-actions>
    </mat-tab>
  </mat-tab-group>
 
</mat-card>