.form-container {
    display: flex;
    flex-direction: column;
}
.form-container mat-form-field {
    margin-left: auto;
    margin-right: auto;
}
  
.form-card{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10em;
    border-radius: 8px;
    
}

.form-button, .mat-card-header,.mat-card-actions{
    text-align: center;
}
.mat-card-header{
    display:inline;
}

mat-form-snackBar {
    margin-right: 12px;
  }


.mat-card-title{
    margin-top:40px;    
}